<script src="../../js/lib/jquery1.11.1.js"></script>
<script src="../../js/lib/template.js"></script>
<script src="../../js/app/util.js"></script>
<% if(js){ %>
    <%  js.forEach(function(path){ %>
    <script src="<%=path  %>"></script>
    <% }); %>
<% }  %>
</body>
</html>