<script src="../../js/require.min.js"></script>
<script>
    require.config({
        baseUrl:'../../js/',
        paths:{
            "jquery":"lib/jquery-2.1.4.min",
            "artTemplate":'lib/artTemplate'
        }
    });
</script>
<% if(js){ %>
    <%  js.forEach(function(path){ %>
    <script src="<%=path  %>"></script>
    <% }); %>
<% }  %>
</body>
</html>