<script src="../../js/require.min.js"></script>
<script>
    require.config({
        baseUrl:'../../js/',
        paths:{
            "jquery":"lib/jquery.min",
            "artTemplate":'lib/artTemplate',
            "util":'app/util',
            "layer":'lib/layer',
            "jedate1":'lib/jedate1',
            "laypage":'lib/laypage'
        },
        shim:{
            'layer': {
                deps: ['jquery'],
                exports: "layer"
            },
            'jedate1':{
                deps: ['jquery'],
                exports: "jedate1"
            },
            'laypage':{
                deps: ['jquery'],
                exports: "laypage"
            }
        }
    });
</script>
<% if(js){ %>
    <%  js.forEach(function(path){ %>
    <script src="<%=path  %>"></script>
    <% }); %>
<% }  %>
</body>
</html>