<script src="../../js/require.min.js"></script>
<script>
    require.config({
        baseUrl:'../../js/',
        paths:{
            "jquery":"lib/jquery.min",
            "artTemplate":'lib/artTemplate',
            "util":'app/util',
            "layer":'lib/layer',
            "laypage":'lib/laypage',
            "jedate":'lib/jedate',
            "css":'lib/css.min',
            "Swiper":'https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery'
        },
        shim:{
            'layer': {
                deps: ['jquery','css!https://cdn.bootcss.com/layer/3.0.1/skin/default/layer.min.css'],
                exports: "layer"
            },
            'laypage': {
                deps: ['jquery','css!/css/style-laypage.css'],
                exports: "laypage"
            },
            'jedate':{
                deps: ['jquery','css!/css/style-date.css'],
                exports: "jedate"
            },
            'Swiper':{
                deps: ['jquery','css!https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css'],
                exports: "Swiper"
            }
        }
    });
</script>
<% if(js){ %>
    <%  js.forEach(function(path){ %>
    <script src="<%=path  %>"></script>
    <% }); %>
<% }  %>
</body>
</html>