<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../css/style-index.css">
    <link rel="stylesheet" href="../../css/style-layer.css">
    <% if(css){ %>
    <%  css.forEach(function(path){ %>
    <link rel="stylesheet" type="text/css" href="<%=path  %>" />
    <% }); %>
    <% }  %>
</head>
<body>