/**
 * Created by 卢有维 on 2017/7/31.
 * CSS搜索栏
 */
/*鼠标移上面包屑样式*/
.mau .list-style-no .poi:hover{
  color:@var-dayBlue;
}
.up_down{
  padding-right: 20px;
  font-size: 12px;
  color:@var-dayBlue;
  vertical-align: middle;
  font-size: 12px;
  padding-right: 20px;
  cursor: pointer;
  margin-left: 15px;
}
/*上下箭头背景图片*/
.up{
  background: url(../slice/icon-top-arr.png) no-repeat 26px;
  background-size: 15px;
}
.down{
  background: url(../slice/icon-down-arr.png) no-repeat 26px;
  background-size: 15px;
}
.sear-form-btn{
  clear: both;
  float: right;
}
.search-bar-div,.search-bar-line{
  background: #F7F7F7;
  font-size: 14px;
  padding: 30px;
  margin: auto;
  width: 1200px;
  box-sizing: border-box;
}
.search-bar-title{
  font-size: 12px;
  height: 16px;
  color:@var-gray;
}
.crumbs{
  margin: auto;
  width: 1200px;
  margin-bottom: 10px;
}
.crumbs .search-bar-title li{
  float: left;
  &:hover{
    color:@var-dayBlue;
  }
}
.curmbs-margin-poi{
  margin-right: 10px;
  cursor: pointer;
  margin-left: 10px;
}
.search-bar-div .form-inline .form-group{
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 0;
}
.search-bar-line .form-inline .form-group{
  margin-top: 0;
  margin-left: 0;
}