/**
 * Created by 周志豪 on 2017/7/30.
 * CSS变量库
 */

//蓝色系
@var-blue: #108EE9;
@var-blue-1: #ECF1F8;
@var-blue-2: #D1DEED;
@var-blue-3: #ABC3DF;
@var-blue-4: #7BA1CC;
@var-blue-5: #49A9EE;
@var-blue-6: #027EC8;
//绿色系
@var-green: #00A854;
@var-green-1: #F0F7EE;
@var-green-2: #DBEDD6;
@var-green-3: #BDDDB4;
@var-green-4: #98CA89;
@var-green-5: #3DBD7D;
@var-green-6: #40bf8a;
@var-green-7: #8cd8b9;
//橙色系
@var-orange: #FFBF00;
@var-orange-1: #FFF3EB;
@var-orange-2: #FFE2CF;
@var-orange-3: #FFCAA7;
@var-orange-4: #FFAD76;
@var-orange-5: #FFCE3D;
@var-orange-6: #f0d588;
//红色系
@var-red: #F04134;
@var-red-1: #fbebeb;
@var-red-2: #F5CFCF;
@var-red-3: #FFC8A7;
@var-red-4: #FFA976;
@var-red-5: #F06E65;
@var-red-6: #e63c3a;
@var-red-7: #ff9492;
//灰色系
@var-gray: #BFBFBF;
@var-gray-1: #CCCCCC;
@var-gray-2: #666666;
@var-gray-3: #333333;
@var-gray-4: #f3f7fa;
@var-gray-5: #e4e9ec;
@var-gray-6: #fffdee;
@var-gray-7: #f4f2f3;
@var-gray-8: #E4E4E4;
@var-gray-9: #fff2f2;
@var-gray-10: #D9D9D9;
//背景灰
@var-bgGray:#F7F7F7;
//天蓝
@var-dayBlue:#108EE9;