/**
 * Created by 彭岩 on 2017/7/31.
 * 商品列表css
 */
.inner{
  width: 1200px;
  margin:0 auto;
}
.shop-navigation{
  line-height: 40px;
  border: 1px solid #E4E4E4;
  background: #fff;
  border-left: none;
  /*height: 40px;*/
}
.shop-navigation-left .shop-span{
  padding: 0 25px;
}
.shop-sales .shop-sale-input{
  height: 25px;
  margin-top: 7px;
  max-width: 88px;
}
.shop-sort{
  border: 1px solid #cc0000;
  color: #fff;
  margin-top: -1px;
  margin-bottom: -1px;
}
.shop-border{
  border-right: 1px solid #E4E4E4;
}
.shop-price{
  background: url(../../slice/icon-sort-asc.png) no-repeat 82%;
  background-size: 11px 16px;
}
.shop-time{
  background: url(../../slice/icon-sort-asc.png) no-repeat 88%;
  background-size: 11px 16px;
}
.shop-navigation-rigth{
  font-size: 13px;
}
.arrow{
  border-left: 1px solid #E4E4E4;
}
.arrow-left{
  width: 35px;
  height: 40px;
  background: url(../../slice/icon-arrows-left.png) center no-repeat;
}
.arrow-right{
  display: block;
  width: 35px;
  height: 40px;
  background: url(../../slice/icon-arrows-right.png) center no-repeat;
}
.arrow .arrow-produce-number{
  color: #E63C3A;
}
.arrow .arrow-produce-total{
  color: #FE7302;
}
.shop-margin{
  margin-top: 10px;
}
.shop-navigation-left span.shop-padding{
  padding: 0;
}
.shop-checkbox label.shop-checkbox-lable{
  margin-left: 10px;
}

/*列表*/
.shop-list-ul{
  width: 100%;
}
.shop-list-ul li{
  width: 222px;
  height: 393px;
  border: 1px solid #E4E4E4;
}
.shop-list-ul li.shop-list-linomargin{
  margin-right: 0;
}
.shop-list-image img{
  width: 200px;
  height: 200px;
}
.shop-list-money span{
  font-weight: bold;
}
.shop-list-cont{
  padding-top: 8px;
}
.shop-list-underlin{
  line-height: 25px;
  font-weight: bold;
  text-decoration: line-through;
}
.shop-list-message{
  line-height: 20px;
  height: 40px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}
.shop-list-icon{
  border: 1px solid #cc0000;
  line-height: 20px;
}
.shop-list-icongreen{
  border: 1px solid #008000;
  line-height: 20px;
}
.shop-list-iconleft{
  padding-top: 4px;
  height: 16px;
}
.shop-list-iconleft img{
  width: 18px;
  height: 16px;
}
.shop-list-iconright{
  background: #cc0000;
  line-height: 24px;
  color: #fff;
}
.shop-list-iconrightgreen{
  background: #008000;
  line-height: 24px;
  color: #fff;
}
.shop-list-ul li:hover{
  border: 1px solid #cc0000;
}










