/**
 * Created by 卢有维 on 2017/7/31.
 * CSS搜索栏
 */
/*鼠标移上面包屑样式*/
.mau .list-style-no .poi:hover{
  color:@var-dayBlue;
}
.up_down{
  padding-right: 20px;
  font-size: 12px;
  color:@var-dayBlue;
  vertical-align: middle;
}
/*上下箭头背景图片*/
.up{
  background: url(../slice/icon-top-arr.png) no-repeat 26px;
  background-size: 15px;
}
.down{
  background: url(../slice/icon-down-arr.png) no-repeat 26px;
  background-size: 15px;
}
/*input css没好  自己写了一个用于测试 好了之后替换掉*/
.CESHIINPUT{
  color: @var-gray-2;
  font-size: 12px;
}
.CESHIINPUT span{
  line-height: 30px;
}
.CESHIINPUT input{
  height: 30px;
  width: 160px;
  border: 1px solid @var-gray-1;
  margin-left: 10px;
  padding-left: 5px;
}