/**
 * Created by 卢有维 on 2017/8/1.
 * CSS购买流程
 */
.pur-div{
  padding: 10px 20px 20px 20px;
}
.pur-ul{
  height: 100px;
  background-color: #fff;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  padding: 0 50px;
}
.pur-ul-li{
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  padding-left: 30px;
}
/*购买流程 css样式*/
.pur-color-type1{
  background-color: @var-green-6;
  color:white;
}
.pur-color-type2{
  background-color: @var-green-7;
  color:white;
}
.pur-color-type3{
  background-color: @var-gray-4;
}
.pur-span-type1{
  background: white;
  color: @var-green-6;
  padding: 2px 8px;
  border-radius: 99px;
  box-shadow: 1px 1px 1px inset;
}
.pur-span-type2{
  background:@var-gray-5;
  color:white;
}