.icon-size{
  width: 16px;
}
.mail-marbot{
  border-top:0px;
}
.mall{
  font-size: 12px;
  color: @var-gray-2;
}
.vhigh-2{
  vertical-align: 2px;
}
.mall-title{
  background: @var-gray-7;
  display: table;
  border-left: 1px solid @var-gray-8;
  border-right: 1px solid @var-gray-8;
  border-top: 1px solid @var-gray-8;
  overflow: hidden;
}
.title-cont-left{
  width: 120px;
  line-height: 60px;
  float: left;
}
.title-cont-right{
  line-height: 60px;
  margin-top: 15px;
}
.color-red{
  color:@var-red-6;
}
.title-words{
  font-size: 16px;
  font-weight: bold;
  margin: 0 25px;
  text-align: right;
}
.title-block{
  background: white;
  text-align: left;
  position: relative;
  border: 1px solid @var-gray-8;
  margin-left: 24px;
  line-height: 28px;
  padding: 0 40px 0 20px;
  float: left;
  margin-bottom: 15px;
}
.title-block-img{
  position: absolute;
  right: 5px;
  cursor: pointer;
  width: 14px;
  top: 7px;
}
.mall-border{
  border-top: 1px solid @var-gray-8;
}
.mall-cent-higtline{
  /* height: 40px; */
  line-height: 40px;
}
.mall-cent-title{
  text-align: right;
  width: 110px;
  padding-right: 10px;
}
.title-right-cent span{
  color: @var-dayBlue;
  padding: 10px 20px 10px 0;
  cursor: pointer;
  white-space: nowrap;
}
.title-color-white{
  background: white;
}
.title-btn{
  line-height: 40px;
  width: 140px;
  position: absolute;
  right:0;
  top:0;
}
.btn-img{
  position: absolute;
  right: 5px;
  top: 9px;
}
.title-btn-nomargin{
  margin-right:0;
}
.img-add{
  top: 7px;
  width: 10px;
}
.title-btn-span:hover{
  color:@var-red-6;
  border-color: @var-red-6;
}
.no-border-bottom{
  border-bottom: 0px;
}
.title-border-bottom{
  border-bottom:1px solid @var-gray-8;
}
.foot-btn{
  width: 240px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border: 1px solid @var-gray-8;
  border-top: 0;
  cursor: pointer;
  padding: 0 20px;
  background: white;
  margin: 0 auto;
  margin-top: -1px;
}
.hide{
  display: none;
}
.show{
  display: show;
}
.no-message{
  background-color: @var-gray-9;
  border: 1px solid @var-red-7;
  display: table;
}
.no-img{
  width: 30px;
  float: left;
  margin: 30px;
}
.no-message .blod{
  font-size: 14px;
  font-weight: bold;
}
.foot-div .blod{
  font-weight: bold;
}
.no-message .size-color{
  color: @var-red-6;
}
.no-message .marginleft{
  margin-left: 10px;
}
.no-message .marginright,.foot-div .marginright{
  margin-right: 10px;
}
.br{
  border-right: 1px solid black;
  padding-right: 10px;
}
.foot-div{
  border: 1px solid @var-gray-8;
  padding: 15px 10px;
  line-height: 15px;
}
.mall-checekbox{
  vertical-align: middle;
}
.mc{
  border-bottom: 1px solid;
  border-color: @var-orange-6;
  background:@var-gray-6;
}
.multi-color{
  background:@var-gray-6;
}
.mail-buttom{
  width: 120px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.mail-btn-ok{
  float: left;
  padding: 0 15px;
  line-height: 22px;
  color:@var-gray-8;
  border: 1px solid @var-gray-8;
  cursor: pointer;
  margin-bottom: 10px;
}
.mail-btn-no{
  float: right;
  padding: 0 15px;
  line-height: 22px;
  background: @var-gray-7;
  border: 1px solid @var-gray-8;
  cursor: pointer;
  margin-bottom: 10px;
}
.btn-oktrue{
  color: red;
  border: 1px solid red;
}
.home{
  background: url("../slice/icon-current-position.png") no-repeat 20px;
  background-size: 20px;
  width: 20px;
  height:20px;
}
.tab-cen{
  display: table;
  background-color: @var-gray-7;
  border-bottom:1px solid @var-gray-8;
}
.no-see{
  height: 40px;
}
.title-cent {
  background: white;
  margin-left: 120px;
  line-height: 40px;
  position: relative;
  padding-right: 150px;
}
.tab-cen span{
  color: @var-blue-6;
  padding: 10px 0px 10px 24px;
  cursor: pointer;
  white-space: nowrap;
}
.title-btn span{
  border: 1px solid @var-gray-8;
  padding: 5px 10px;
  margin-right: 10px;
  position: relative;
  padding-right: 20px;
  cursor: pointer;
  color: @var-gray-2;
}
.addMore{
  background: url(../slice/icon-arrows-down.png) no-repeat 37px 10px;
}
.multiSelect{
  background: url(../slice/icon-add.png) no-repeat 38px 8px;
  background-size: 10px;
}
.title-label-show{
  display: table;
  line-height: 60px;
}
.title-check{
  vertical-align: middle;
  margin-right: 5px;
}
.cen-btn{
  width: 124px;
  margin: auto;
  display: table;
}
.title-left-text{
  line-height: 40px;
  width: 120px;
  float: left;
}
.inner{
  width: 1200px;
  margin: 0 auto;
}
