/**
 * Created by 梁青竹 on 2017/8/2.
 * 分页插件laypage 样式
 */

/*!
 laypage默认样式
*/
.laypage_main{font-size:0; clear:both; color:#666;}
.laypage_main *{display:inline-block; vertical-align: top; font-size:12px;}
.laypage_main a{height:26px; line-height:26px; text-decoration:none; color:#666;}
.laypage_main a, .laypage_main span{margin:0 4px 6px; padding:0 10px;}
.laypage_main span{}
.laypage_main input, .laypage_main button{ border:1px solid #ccc; background-color:#fff; cursor: pointer;}
.laypage_main input{width:40px; height:26px; line-height:26px; margin:0 5px; padding:0 5px;}
.laypage_main button{height:28px; line-height:28px; margin-left:5px; padding:0 10px; color:#666;}

/* 国电项目 */
.laypage_select{ position:relative; margin-left:12px;}
.laypage_select span{ border:1px solid #d9d9d9; height:26px; line-height: 26px; width: 80px;/*56px*/ padding-left:10px;  padding-right: 14px; position: relative; cursor:pointer; z-index:1;}
.laypage_select .glyphicon-select{ width: 8px; height: 8px; background-image:url(../slice/ico-select.png); position:absolute; top: 10px; right: 12px;}
.laypage_select ul{ position:absolute; width: 80px;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;left: 4px; top: 26px; display: none;}
.laypage_select li{height:26px; line-height: 26px; cursor: pointer; padding-left:10px; display: block;}
.laypage_select li:hover{ background:#d9d9d9;}
.laypageskin_gd{color:#666}
.laypageskin_gd a{border:1px solid #d9d9d9; background-color:#fff;width:26px; height:26px; line-height: 26px; text-align:center; padding:0;}
.laypageskin_gd a, .laypageskin_gd span{ color:#666; }
.laypageskin_gd .laypage_curr{background-color:#108ee9; color:#fff; border:1px solid #108ee9;width:26px; height:26px; line-height: 26px; text-align:center; padding:0;}
.laypageskin_gd .laypage_total{ width: auto !important;}
.laypageskin_gd label{ line-height: 26px;}
.laypageskin_gd .glyphicon-pre{ width: 8px; height: 8px; background-image:url(../slice/page_left.png); margin-top:9px;}
.laypageskin_gd .glyphicon-next{width: 8px; height: 8px; background-image:url(../slice/page_right.png); margin-top:9px;}

