<%- include('../_block/head.ejs',{ title:'首页' , css:['../../css/style-index.css'] }) %>
<div id="page">
    <button class="btn btn-ghost-danger btn-lg">页面级焦点按钮</button>
    <button class="btn btn-danger btn-lg">页面级焦点按钮</button>
    <button class="btn btn-danger btn-ms">焦点按钮</button>
    <button class="btn btn-danger btn-xs">页面级焦点按钮</button>
    <a class="btn btn-danger btn-xs">页面级焦点按钮</a>
    <a class="btn btn-success btn-xs">新增</a>
    <input type="button" class="btn btn-danger btn-xs" value="按钮"/>
    <button class="btn btn-ghost-danger btn-xs">按钮</button>
    <button class="btn btn-default btn-xs">菜单按钮</button><button class="btn btn-default btn-xs btn-pullDown"></button>
    <button class="btn btn-ms btn-add">+ 添加</button>

    <div class="btn-box">
        <button class="btn btn-xs btn-revoke">取消</button>
        <button class="btn btn-xs btn-red">确定</button>
    </div>
</div>
<%- include('../_block/footer.ejs',{js:['../../../js/app/test.js']}) %>