<!--
    	作者：雷清云
    	时间：2017-07-31
    	描述：表单的网站css样式
   -->
<%- include('../_block/head.ejs',{ title:'首页' , css:['../../css/style-index.css'] }) %>

<br /><br /><br />

<!--input框样式-->
<!--水平排列-->
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label">单行文本框：</label>
    <input type="text" class="form-control" placeholder="请输入关键字">
  </div>
  <div class="form-group">
    <label class="control-label">可联想文本框：</label>
    <input type="text" class="form-control" placeholder="请输入关键字和编码">
  </div>
</form>

<br /><br /><br />

  <!--内联表单-->
<form class="form-inline">
  <div class="form-group">
    <label class="control-label">查询项一：</label>
    <input type="text" class="form-control" placeholder="请输入查询项一">
  </div>
  <div class="form-group">
    <label class="control-label">查询项二：</label>
    <input type="text" class="form-control" placeholder="请输入查询项二">
  </div>
  <div class="form-group">
    <label class="control-label">查询项三：</label>
    <input type="text" class="form-control" placeholder="请输入查询项三">
  </div>
</form>  

<br /><br /><br />

<!--只读状态并且点击下拉-->
<div class="form-group form-group-yn">
    <label class="control-label">下拉列表一：</label>
    <input type="text" class="form-control form-select form-yn" readonly placeholder="全部">
    <ul class="form-ul"></ul>
</div>

<div class="form-group form-group-num">
    <label class="control-label">下拉列表四：</label>
    <input type="text" class="form-control form-select form-num" readonly placeholder="全部">
    <div class="form-div"></div>
</div>
<%- include('../_block/footer.ejs',{js:['../../../js/app/form.js']}) %>	
	
