<%- include('../_block/head.ejs',{ title:'首页' , css:[] }) %>
<!--
    	作者：雷清云
    	时间：2017-07-31
    	描述：表单的网站css样式
  -->
<!--input框样式-->
<style>
	/*内联表单带有右按钮*/
.form-inline-btn{
	width: 150px;
	margin: 8px 0 0 24px;
	float: left;
}
.form-inline-btn .form-btn-right{
	margin-left: 10px;
 }
.form-inline-btns{
	width: 1200px;
	height: 60px;
	float: left;
}
.form-inline-btns .btn{
		float: right;
}
.form-inline-btns .form-btn-left{
	margin: 20px 20px 0 0;
 }
 .form-inline-btns .form-btn-right{
	margin: 20px 60px 0 0;
 }
h2{
	margin-top: 50px;
}
</style>

<!--普通表单-->
<h2>普通表单</h2>
<form>
  <div class="form-group">
    <label class="form-lable">单行文本框：</label>
    <input type="text" class="form-control" placeholder="请输入关键字">
  </div>
  <div class="form-group">
    <label class="form-lable">可联想文本框：</label>
    <input type="text" class="form-control" placeholder="请输入关键字和编码">
  </div>
  <div class="form-group">
  	<lable class="form-lable rmb-lable"><input class="checkbox" type="checkbox" />&nbsp;&nbsp;&nbsp;记住信息</lable>
  </div>
  <div class="form-group">
  	<button class="btn btn-ghost-default btn-xs">提交</button>
  </div>
</form>

<!--水平排列-->
<h2>水平排列：</h2>
<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label">单行文本框：</label>
    <input type="text" class="form-control form-control-ml" placeholder="请输入关键字">
  </div>
  <div class="form-group">
    <label class="control-label">可联想文本框：</label>
    <input type="text" class="form-control form-control-ml" placeholder="请输入关键字和编码">
  </div>
</form>

  <!--内联表单-->
<h2>内联表单：</h2>
<form class="form-inline">
	
  <div class="form-group">
    <label class="control-label">查询项一：</label>
    <input type="text" class="form-control form-control-ml" placeholder="请输入查询项一">
  </div>
  <div class="form-group">
    <label class="control-label">查询项二：</label>
    <input type="text" class="form-control form-control-ml" placeholder="请输入查询项二">
  </div>
  <div class="form-group">
    <label class="control-label">查询项三：</label>
    <input type="text" class="form-control form-control-ml" placeholder="请输入查询项三">
  </div>
  <div class="form-inline-btns">
    <button class="btn btn-ghost-default btn-xs form-btn-right">按钮</button>
    <button class="btn btn-default btn-xs form-btn-left">按钮</button>
  </div>
</form> 

<!--带有右按钮内联表单-->
<h2>带有右按钮内联表单：</h2>
<form class="form-inline">
  <div class="form-group">
    <label class="control-label">查询项一：</label>
    <input type="text" class="form-control form-control-ml" placeholder="请输入查询项一">
  </div>
  <div class="form-group">
    <label class="control-label">查询项二：</label>
    <input type="text" class="form-control form-control-ml" placeholder="请输入查询项二">
  </div>
  <div class="form-inline-btn">
  	<button class="btn btn-default btn-xs form-btn-left">按钮</button>
    <button class="btn btn-ghost-default btn-xs form-btn-right">按钮</button>
  </div>
  
</form> 

<!--只读状态并且点击下拉-->
<h2>只读状态下并且点击下拉:</h2>
<div class="form-group form-group-yn">
    <label class="control-label">下拉列表一：</label>
    <input type="text" class="form-control form-control-ml  form-select form-yn" readonly placeholder="全部">
    <ul class="form-ul"></ul>
</div>

<div class="form-group form-group-num">
    <label class="control-label">下拉列表四：</label>
    <input type="text" class="form-control form-control-ml form-select form-num" readonly placeholder="全部">
    <div class="form-div"></div>
</div>

<%- include('../_block/footer.ejs',{js:['../../../js/app/form.js']}) %>	
	
