<%- include('../_block/head.ejs',{ title:'首页' , css:['../../css/style-index.css'] }) %>

<div class="leftmenu helpcenter_leftmenu">
	<h2 class="leftmemu_title pl60 f16 c_white"><i class="glyphicon glyphicon-help-left"></i>帮助中心</h2>
	<ul>
		<li class="memu-item tive"><a class="memu-item-title pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-reduce-left"></i>
			<ul class="list-group">
			<li class="list-group-item"><a href="javascript:;" class="list-group-item-title pl40">二级类目</a><i class="glyphicon glyphicon-arrows-right dn"></i></li>
			<li class="list-group-item"><a href="javascript:;" class="list-group-item-title pl40">二级类目</a><i class="glyphicon glyphicon-arrows-right dn"></i></li>
			<li class="list-group-item"><a href="javascript:;" class="list-group-item-title pl40">二级类目</a><i class="glyphicon glyphicon-arrows-right dn"></i></li>
			</ul>
		</li>
		<li class="memu-item"><a class="memu-item-title pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-add-left"></i></li>
		<li class="memu-item"><a class="memu-item-title pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-add-left"></i></li>
		<li class="memu-item"><a class="memu-item-title pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-add-left"></i></li>
		<li class="memu-item"><a class="memu-item-title pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-add-left"></i></li>
	</ul>
</div>


<div class="leftmenu boss_leftmenu">
	<h2 class="leftmemu_title pl20 c_gray f14"><i class="glyphicon glyphicon-menu-left"></i>菜单</h2>
	<ul>
		<li class="memu-item tive"><a class="memu-item-title pl20" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-white-arrows-bottom"></i>
			<ul class="list-group">
			<li class="list-group-item"><a href="javascript:;" class="list-group-item-title pl30">二级类目</a><i class="glyphicon glyphicon-white-arrows-right dn"></i></li>
			<li class="list-group-item"><a href="javascript:;" class="list-group-item-title pl30">二级类目</a><i class="glyphicon glyphicon-white-arrows-right dn"></i></li>
			<li class="list-group-item"><a href="javascript:;" class="list-group-item-title pl30">二级类目</a><i class="glyphicon glyphicon-white-arrows-right dn"></i></li>
			</ul>
		</li>
		<li class="memu-item"><a class="memu-item-title pl20" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-white-arrows-bottom"></i></li>
		<li class="memu-item"><a class="memu-item-title pl20" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-white-arrows-bottom"></i></li>
		<li class="memu-item"><a class="memu-item-title pl20" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-white-arrows-bottom"></i></li>
	</ul>
</div>


<div class="leftmenu supplier_leftmenu">
	<h2 class="leftmemu_title pl60 c_red f16"><i class="glyphicon glyphicon-suppliermenu-left"></i>菜单</h2>
	<ul>
		<li class="memu-item"><a class="memu-item-title  pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-triangle-left"></i>
			<ul class="list-group">
			<li class="list-group-item"><a href="javascript:;" class="list-group-item-title pl40">二级类目</a></li>
			<li class="list-group-item"><a href="javascript:;" class="list-group-item-title pl40">二级类目</a></li>
			<li class="list-group-item"><a href="javascript:;" class="list-group-item-title pl40">二级类目</a></li>
			</ul>
		</li>
		<li class="memu-item"><a class="memu-item-title pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-triangle-left"></i></li>
		<li class="memu-item"><a class="memu-item-title pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-triangle-left"></i></li>
		<li class="memu-item"><a class="memu-item-title pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-triangle-left"></i></li>
		<li class="memu-item"><a class="memu-item-title pl40" href="javascript:;">一级类目</a><i class="glyphicon glyphicon-triangle-left"></i></li>
	</ul>
</div>




<%- include('../_block/footer.ejs',{js:['../../../js/app/test.js']}) %>