<%- include('../_block/head.ejs',{ title:'列表-会员中心',css:['../../css/style-index.css'] }) %>
<div class="member-content-left member-content-auto">
    <div class="member-content fix">
        <div class="member-foucs-tab">
            <ul class="member-foucs-tab-nav fix">
                <li class="active list-style-no">全部订单</li>
                <li class="list-style-no">状态一(<span>1</span>)</li>
                <li class="list-style-no">状态二(<span>1</span>)</li>
                <li class="list-style-no">状态三(<span>1</span>)</li>
            </ul>
        </div>
        <div class="member-table-form fix">

            <div class="member-table-left">
                <span class="member-span-cont f12">订单编号：</span>
                <span class="member-span-input"><input type="text" name="" id="" value="" placeholder="请输入订单编号" /></span>
                <span class="member-span-cont f12">市场类别：</span>
                <span class="member-span-input">
							<select name="">
								<option value="">首页</option>
								<option value="">电子超市</option>
								<option value="">工业品市场</option>
							</select>
						</span>
                <span class="member-span-button">
							<button class="member-span-button-right">搜索</button>
							<button>重置</button>
						</span>
            </div>
            <div class="member-table-left">
                <span class="member-span-cont f12">供应商名称：</span>
                <span class="member-span-input"><input type="text" name="" id="" value="" placeholder="请输入供应商名称" /></span>
                <span class="member-span-cont f12">订单状态：</span>
                <span class="member-span-input">
							<select name="">
								<option value="">待确认</option>
								<option value="">待审批</option>
								<option value="">待发货</option>
								<option value="">待收货</option>
								<option value="">待付款</option>
								<option value="">交易成功</option>
								<option value="">交易取消</option>
							</select>
						</span>
            </div>
            <div class="member-table-right">
                <span class="member-span-cont f12">订单创建时间：</span>
                <span class="member-span-input"><input type="text" name="" id="" value="" /></span>
                <p>-</p>
                <span class="member-span-input"><input type="text" name="" id="" value="" /></span>
            </div>
            <!--<div class="member-table-right">&nbsp;</div>-->

        </div>
    </div>
    <!--订单结束-->
    <div class="member-table-header">
        <table class="member-table member-table-bordernone">
            <tr>
                <td width="452">采购订单</td>
                <td width="62">创建人</td>
                <td width="124">订单总金额</td>
                <td width="150">订单状态</td>
                <td>操作</td>
            </tr>
        </table>
    </div>
    <div class="member-simple-pages fix">
        <span href="javascript:;">上一页</span><span href="javascript:;">下一页</span>
    </div>
    <!--订单创建时间-->
    <ul class="member-tablebottom">
        <li class="member-ulbackgli fix list-style-no">
            <span>订单创建时间：</span>
            <div>2017-02-02  12:20:54</div>
            <span>订单编号：</span>
            <div>2017-02-02  12:20:54</div>
            <span>供应商：</span>
            <div>2017-02-02  12:20:54</div>
        </li>
    </ul>
    <ul class="member-messagebot fix">
        <li class="member-tabletra list-style-no">
            <div class="member-tabletr fix">
                <div class="member-message-img">
                    <img src=""/>
                </div>
                <div class="member-message-content">
                    <a href="javascript:;">【黄山牌】油田适用低压闸阀</a>
                    <span>物料编码：11000637459</span>
                    <span class="member-message-contentno">密封面(国标):H,  压力(国标):16,  类别(国标):Z,  名称(国标):中压闸阀,  特殊要求(国标):锻制密封面(国标):H,  压力(国标):16,  类别(国标):Z,  名称(国标):中压闸阀,  特殊要求(国标):锻制密封面(国标):H,  压力(国标):16,  类别(国标):Z,  名称(国标):中压闸阀,  特殊要求(国标):锻制</span>
                </div>
            </div>
        </li>
        <li class="member-name list-style-no">
            张三
        </li>
        <li class="member-money list-style-no">

            <span class="member-money-span">￥200000.00</span>
            <span class="member-money-spantwo">人民币</span>

        </li>
        <li class="member-etc list-style-no">

            待确认

        </li>
        <li class="member-confirm list-style-no">
            <div class="member-confirm-div">再次购买</div>
            <a href="javascript:;">订单详情</a>
            <a href="javascript:;">收货记录</a>
        </li>
    </ul>

    <ul class="member-tablebottom">
        <li class="member-ulbackgli fix list-style-no">
            <span>订单创建时间：</span>
            <div>2017-02-02  12:20:54</div>
            <span>订单编号：</span>
            <div>2017-02-02  12:20:54</div>
            <span>供应商：</span>
            <div>2017-02-02  12:20:54</div>
        </li>
    </ul>
    <ul class="member-messagebot fix">
        <li class="member-tabletra list-style-no">
            <div class="member-tabletr fix">
                <div class="member-message-img">
                    <img src=""/>
                </div>
                <div class="member-message-content">
                    <a href="javascript:;">【黄山牌】油田适用低压闸阀</a>
                    <span>物料编码：11000637459</span>
                    <span class="member-message-contentno">密封面(国标):H,  压力(国标):16,  类别(国标):Z,  名称(国标):中压闸阀,  特殊要求(国标):锻制密封面(国标):H,  压力(国标):16,  类别(国标):Z,  名称(国标):中压闸阀,  特殊要求(国标):锻制密封面(国标):H,  压力(国标):16,  类别(国标):Z,  名称(国标):中压闸阀,  特殊要求(国标):锻制</span>
                </div>
            </div>
        </li>
        <li class="member-name list-style-no">
            张三
        </li>
        <li class="member-money list-style-no">
            <span class="member-money-span">￥200000.00</span>
            <span class="member-money-spantwo">人民币</span>

        </li>
        <li class="member-etc-second list-style-no">
            <div class="member-etc-second-div">交易成功</div>
            <div>供应商确认时间</div>
            <div>2017-02-02 12:20:54</div>
        </li>
        <li class="member-confirm list-style-no">
            <div class="member-confirm-div">再次购买</div>
            <a href="javascript:;">订单详情</a>
            <a href="javascript:;">收货记录</a>
        </li>
    </ul>
    <ul class="member-tablebottom">
        <li class="member-ulbackgli fix list-style-no">
            <span>订单创建时间：</span>
            <div>2017-02-02  12:20:54</div>
            <span>订单编号：</span>
            <div>2017-02-02  12:20:54</div>
            <span>供应商：</span>
            <div>2017-02-02  12:20:54</div>
        </li>
    </ul>
    <ul class="member-messagebot fix">
        <li class="member-tabletra list-style-no">
            <div class="member-tabletr fix">
                <div class="member-message-img">
                    <img src=""/>
                </div>
                <div class="member-message-content">
                    <a href="javascript:;">【黄山牌】油田适用低压闸阀</a>
                    <span>物料编码：11000637459</span>
                    <span class="member-message-contentno">密封面(国标):H,  压力(国标):16,  类别(国标):Z,  名称(国标):中压闸阀,  特殊要求(国标):锻制密封面(国标):H,  压力(国标):16,  类别(国标):Z,  名称(国标):中压闸阀,  特殊要求(国标):锻制密封面(国标):H,  压力(国标):16,  类别(国标):Z,  名称(国标):中压闸阀,  特殊要求(国标):锻制</span>
                </div>
            </div>
        </li>
        <li class="member-name list-style-no">
            张三
        </li>
        <li class="member-money list-style-no">
            <span class="member-money-span">￥200000.00</span>
            <span class="member-money-spantwo">人民币</span>

        </li>
        <li class="member-etc-third list-style-no">
            <div class="member-etc-second-div">待审批</div>
            <div>供应商确认时间</div>
            <div>2017-02-02 12:20:54</div>
        </li>
        <li class="member-confirm list-style-no">
            <div class="member-confirm-div">再次购买</div>
            <a href="javascript:;">订单详情</a>
            <a href="javascript:;">收货记录</a>
        </li>
    </ul>
</div>
<%- include('../_block/footer.ejs',{js:['../../js/app/test.js']}) %>