<%- include('../_block/head.ejs',{ title:'列表-商城',css:[''] }) %>
<div class="inner">
    <!--first-->
    <div class="shop-navigation inner fix">
        <div class="shop-navigation-left">
            <span class="shop-sort shop-span">综合排序</span>
            <span class="shop-border shop-span">销量</span>
            <span class="shop-border shop-span">上架时间<i class="shop-price-icon"></i></span>
            <span class="shop-border shop-span">价格<i class="shop-price-icon"></i></span>
        </div>
        <div class="shop-navigation-rigth">
            <span class="arrow-right arrow"></span>
            <span class="arrow-left arrow"></span>
            <span class="arrow arrow-content">
				<span class="arrow-produce-number">1</span>/22 共<span class="arrow-produce-total">312</span>条相关产品
			</span>
        </div>
    </div>
    <!--second-->
    <div class="shop-navigation inner fix shop-margin">
        <div class="shop-navigation-left">
            <span class="shop-sort shop-span">综合排序</span>
            <span class="shop-border shop-span">销量</span>
            <span class="shop-border shop-span">上架时间<i class="shop-price-icon"></i></span>
            <span class="shop-border shop-span">价格<i class="shop-price-icon"></i></span>
            <span class="shop-border shop-span">优惠率</span>
        </div>
        <div class="shop-navigation-rigth">
            <span class="arrow-right arrow"></span>
            <span class="arrow-left arrow"></span>
            <span class="arrow arrow-content">
				<span class="arrow-produce-number">1</span>/22 共<span class="arrow-produce-total">312</span>条相关产品
			</span>
        </div>
    </div>
    <!--third-->
    <div class="shop-navigation inner fix shop-margin">
        <div class="shop-navigation-left">
            <span class="shop-sort shop-span">综合排序</span>
            <span class="shop-border shop-span">销量</span>
            <span class="shop-border shop-span">上架时间<i class="shop-price-icon"></i></span>
            <span class="shop-border shop-span">价格<i class="shop-price-icon"></i></span>
            <span class="shop-border shop-span">优惠率</span>
            <span class="shop-sales shop-border">
						<input type="text" name="" id="" placeholder="￥最低价" class="shop-sale-input"/>
						<p class="shop-sale-hp">-</p>
						<input type="text" name="" id="" placeholder="￥最高价" class="shop-sale-input" />
			</span>
            <span class="shop-checkbox">
						<label class="poi">
							<input type="checkbox" name="" id="" value="" class="shop-checkinput" />
							电力专区
						</label>
						<label class="shop-checkbox-lable poi">
							<input type="checkbox" name="" id="" value="" />
							电子超市
						</label>
					</span>
        </div>
        <div class="shop-navigation-rigth">
            <span class="arrow-right arrow"></span>
            <span class="arrow-left arrow"></span>
            <span class="arrow arrow-content">
				<span class="arrow-produce-number">1</span>/22 共<span class="arrow-produce-total">312</span>条相关产品
			</span>
        </div>
    </div>
    <!--third end-->
    <!--fourth-->
    <div class="shop-navigation inner fix shop-margin">
        <div class="shop-navigation-left">
            <span class="shop-sort shop-span">综合排序</span>
            <span class="shop-border shop-span">销量</span>
            <span class="shop-border shop-span">上架时间<i class="shop-price-icon"></i></span>
            <span class="shop-border shop-span">价格<i class="shop-price-icon"></i></span>
            <span class="shop-border shop-span">优惠率</span>
            <span class="shop-checkbox">
						<label class="poi">
							<input type="checkbox" name="" id="" value="" class="shop-checkinput" />
							电力专区
						</label>
						<label class="shop-checkbox-lable poi">
							<input type="checkbox" name="" id="" value="" />
							电子超市
						</label>
					</span>

        </div>
        <div class="shop-navigation-rigth">
            <span class="arrow-right arrow"></span>
            <span class="arrow-left arrow"></span>
            <span class="arrow arrow-content">
				<span class="arrow-produce-number">1</span>/22 共<span class="arrow-produce-total">312</span>条相关产品
			</span>
        </div>
    </div>
    <!--fourth end-->

    <div class="shop-list inner fix">
        <ul class="shop-list-ul fix mt20">
            <li class="fix list-style-no shop-list-li">
                <a href="javascript:;" class="shop-list-lia fix">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icon fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-shop-cart.png"/>
                            </div>
                            <div class="shop-list-iconright">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
            <li class="fix list-style-no shop-list-li">
                <a href="javascript:;" class="shop-list-lia">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icongreen fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-car.png"/>
                            </div>
                            <div class="shop-list-iconrightgreen">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
            <li class="fix list-style-no shop-list-li">
                <a href="javascript:;" class="shop-list-lia fix">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icon fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-shop-cart.png"/>
                            </div>
                            <div class="shop-list-iconright">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
            <li class="fix list-style-no shop-list-li">
                <a href="javascript:;" class="shop-list-lia fix">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icon fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-shop-cart.png"/>
                            </div>
                            <div class="shop-list-iconright">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
            <li class="fix shop-list-linomargin shop-list-li list-style-no">
                <a href="javascript:;" class="shop-list-lia fix">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icon fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-shop-cart.png"/>
                            </div>
                            <div class="shop-list-iconright">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
        </ul>
        <!--list first end-->
        <ul class="shop-list-ul fix mt20">
            <li class="fix list-style-no shop-list-li">
                <a href="javascript:;" class="shop-list-lia fix">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icon fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-shop-cart.png"/>
                            </div>
                            <div class="shop-list-iconright">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
            <li class="fix list-style-no shop-list-li">
                <a href="javascript:;" class="shop-list-lia">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icongreen fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-car.png"/>
                            </div>
                            <div class="shop-list-iconrightgreen">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
            <li class="fix list-style-no shop-list-li">
                <a href="javascript:;" class="shop-list-lia fix">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icon fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-shop-cart.png"/>
                            </div>
                            <div class="shop-list-iconright">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
            <li class="fix list-style-no shop-list-li">
                <a href="javascript:;" class="shop-list-lia fix">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icon fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-shop-cart.png"/>
                            </div>
                            <div class="shop-list-iconright">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
            <li class="fix shop-list-linomargin shop-list-li list-style-no">
                <a href="javascript:;" class="shop-list-lia fix">
                    <div class="shop-list-image"><img src=""/></div>
                    <div class="shop-list-money fix">
                        <span class="shop-list-num">￥86.00</span>
                        <span class="shop-list-cont">销售价</span>
                    </div>
                    <div class="shop-list-underlin">￥86.00市场价</div>
                    <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                    <div class="shop-list-company">京东</div>
                    <div class="shop-list-bottom fix">
                        <div class="shop-list-icon fix">
                            <div class="shop-list-iconleft">
                                <img src="../../slice/icon-shop-cart.png"/>
                            </div>
                            <div class="shop-list-iconright">电子超市</div>
                        </div>
                        <div class="shop-list-iconrightcon">全集团</div>
                    </div>
                </a>
            </li>
        </ul>
        <!--list second end-->
    </div>


</div>
<%- include('../_block/footer.ejs',{js:['../../js/app/test.js']}) %>