<%- include('../_block/head.ejs',{ title:'列表-商城',css:['../../css/style-index.css'] }) %>
<div class="inner">
    <!--first-->
    <div class="shop-navigation inner fix">
        <div class="shop-navigation-left fl tc">
            <span class="fl shop-sort poi">综合排序</span>
            <span class="fl shop-sales shop-border poi">销量</span>
            <span class="fl shop-time shop-border poi">上架时间</span>
            <span class="fl shop-price shop-border poi">价格</span>
        </div>
        <div class="shop-navigation-rigth">
            <span class="arrow-right arrow fr"></span>
            <span class="arrow-left arrow fr"></span>
            <span class="arrow-produce arrow fr">
				<span class="arrow-produce-number">1</span>/22 共<span class="arrow-produce-total">312</span>条相关产品
			</span>
        </div>
    </div>
    <!--second-->
    <div class="shop-navigation inner fix shop-margin">
        <div class="shop-navigation-left fl tc">
            <span class="shop-sort fl poi">综合排序</span>
            <span class="shop-sales shop-border fl poi">销量</span>
            <span class="shop-time shop-border fl poi">上架时间</span>
            <span class="shop-price shop-border fl poi">价格</span>
            <span class="shop-sales shop-border fl poi">优惠率</span>
        </div>
        <div class="shop-navigation-rigth">
            <span class="arrow-right arrow fr"></span>
            <span class="arrow-left arrow fr"></span>
            <span class="arrow-produce arrow fr">
						<span class="arrow-produce-number">1</span>/22 共<span class="arrow-produce-total">312</span>条相关产品
			</span>
        </div>
    </div>
    <!--third-->
    <div class="shop-navigation inner fix shop-margin">
        <div class="shop-navigation-left fl tc">
            <span class="shop-sort fl poi">综合排序</span>
            <span class="shop-sales shop-border fl poi">销量</span>
            <span class="shop-time shop-border fl poi">上架时间</span>
            <span class="shop-price shop-border fl poi">价格</span>
            <span class="shop-sales shop-border fl poi">优惠率</span>
            <span class="shop-sales shop-border fl poi">
						<input type="text" name="" id="" placeholder="￥最低价" />
						<p>-</p>
						<input type="text" name="" id="" placeholder="￥最高价" />
					</span>
        </div>
        <div class="shop-navigation-rigth">
            <span class="arrow-right arrow fr"></span>
            <span class="arrow-left arrow fr"></span>
            <span class="arrow-produce arrow fr">
				<span class="arrow-produce-number">1</span>/22 共<span class="arrow-produce-total">312</span>条相关产品
			</span>
        </div>
    </div>
    <!--third end-->
    <!--fourth-->
    <div class="shop-navigation inner fix shop-margin">
        <div class="shop-navigation-left fl tc">
            <span class="shop-sort fl poi">综合排序</span>
            <span class="shop-sales shop-border fl poi">销量</span>
            <span class="shop-time shop-border fl poi">上架时间</span>
            <span class="shop-price shop-border fl poi">价格</span>
            <span class="shop-sales shop-border fl poi">优惠率</span>
            <span class="shop-checkbox fl poi">
						<label class="poi">
							<input type="checkbox" name="" id="" value="" />
							电力专区
						</label>
						<label class="shop-checkbox-lable poi">
							<input type="checkbox" name="" id="" value="" />
							电子超市
						</label>
					</span>

        </div>
        <div class="shop-navigation-rigth">
            <span class="arrow-right arrow fr"></span>
            <span class="arrow-left arrow fr"></span>
            <span class="arrow-produce arrow fr">
						<span class="arrow-produce-number">1</span>/22 共<span class="arrow-produce-total">312</span>条相关产品
					</span>
        </div>
    </div>
    <!--fourth end-->

    <div class="shop-list inner fix">
        <ul class="shop-list-ul fix">
            <li class="fix fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icon fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-shop-cart.png"/>
                        </div>
                        <div class="shop-list-iconright">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
            <li class="fix fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icongreen fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-car.png"/>
                        </div>
                        <div class="shop-list-iconrightgreen">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
            <li class="fix fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icon fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-shop-cart.png"/>
                        </div>
                        <div class="shop-list-iconright">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
            <li class="fix fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icon fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-shop-cart.png"/>
                        </div>
                        <div class="shop-list-iconright">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
            <li class="fix shop-list-linomargin fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icon fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-shop-cart.png"/>
                        </div>
                        <div class="shop-list-iconright">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
        </ul>
        <!--list first-->
        <ul class="shop-list-ul shop-list-ulmartop fix">
            <li class="fix fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icon fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-shop-cart.png"/>
                        </div>
                        <div class="shop-list-iconright">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
            <li class="fix fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icongreen fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-car.png"/>
                        </div>
                        <div class="shop-list-iconrightgreen">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
            <li class="fix fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icon fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-shop-cart.png"/>
                        </div>
                        <div class="shop-list-iconright">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
            <li class="fix fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icon fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-shop-cart.png"/>
                        </div>
                        <div class="shop-list-iconright">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
            <li class="fix shop-list-linomargin fl list-style-no">
                <div class="shop-list-image"><a href="javascript:;"><img src=""/></a></div>
                <div class="shop-list-money fix">
                    <span class="shop-list-num">￥86.00</span>
                    <span class="shop-list-cont">销售价</span>
                </div>
                <div class="shop-list-underlin">￥86.00市场价</div>
                <div class="shop-list-message">格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A 格之格（G&G）NT-CN2612X 大容量硒鼓 适用惠普HP Q2612A 12A  …</div>
                <div class="shop-list-company">京东</div>
                <div class="shop-list-bottom fix">
                    <div class="shop-list-icon fix">
                        <div class="shop-list-iconleft">
                            <img src="../../images/common/icon-shop-cart.png"/>
                        </div>
                        <div class="shop-list-iconright">电子超市</div>
                    </div>
                    <div class="shop-list-iconrightcon fr">全集团</div>
                </div>
            </li>
        </ul>
    </div>













</div>
<%- include('../_block/footer.ejs',{js:['../../js/app/test.js']}) %>