<%- include('../_block/head.ejs',{ title:'商城筛选搜索栏',css:['../../css/style-index.css'] }) %>
<div class="inner mall">
		<!--<div>
			<ul class="list-style-no">
				<li class="fl mr5 home">
					<i class="home"></i>
					当前位置 :
				</li>
				<li class="fl mr5">
					>
				</li>
				<li class="fl mr5">
					首页
				</li>
				<li class="fl mr5">
					>
				</li>
				<li class="fl mr5">
					电子超市
				</li>
			</ul>
		</div>-->
		<p class="mb10">
			<img src="../../slice/icon-current-position.png" class="icon-size mr5"/>
			<span class="vhigh-2">当前位置： 首页 > 电子超市 ></span>
		</p>
		<div class="inner mall-title mall-border mb10 mail-marbot">
			<div class="title-cont-left">
				<p class="title-words">商品<span class="color-red">筛选</span></p>
			</div>
			<div class="title-cont-right">
				<p class="title-block-marrig type-block">
					<span class="title-block">分类1：<span class="color-red">墨盒4</span>
						<img src="../../slice/icon-close.png" class="icon-size title-block-img"/>
				</p>
			</div>
		</div>
		<div class="title-border-bottom bac-color">
			<div class="inner mall-title title-more mall-border title-color-white no-border-bottom">
					<div class="title-cont-left mall-cent-higtline rela">
						<p class="mall-cent-title absou h100">分类1：</p>
					</div>
					<div class="title-cont-right mall-cent-higtline title-right-cent">
						<span>办公a文具</span>
						<span>文件a管理</span> 
						<span>笔a类</span>       
						<span>纸a类</span>    
						<span>办a公文具</span>
						<span>文件管理</span> 
						<span>笔a类a</span>       
						<span>纸类</span> 
						<span>本a册/便签</span>
						<span>墨盒硒鼓/墨粉</span>
						<span>办a公文具</span>
						<span>文a件管理</span> 
						<span>笔a类a</span>       
						<span>办公a文具</span>
						<span>文a件管理</span> 
						<span>笔a类</span>       
						<span>办a公a文具</span>
					</div>
					<div class="title-btn">
						<span class="title-btn-span addMore">更多
							<img src="../../slice/icon-arrows-down.png" class="btn-img"/>
						</span>
						<span class="title-btn-span title-btn-nomargin">多选
							<img src="../../slice/icon-add.png" class="btn-img img-add"/>
						</span>
					</div>
			</div>
			<div class="inner mall-title title-more mall-border title-color-white no-border-bottom">
					<div class="title-cont-left mall-cent-higtline rela">
						<p class="mall-cent-title absou h100">分类2：</p>
					</div>
					<div class="title-cont-right mall-cent-higtline title-right-cent">
						<span>办公文具</span>
						<span>文件管理</span> 
						<span>笔类</span>       
						<span>纸类</span> 
						<span>本册/便签</span>
						<span>墨盒硒鼓/墨粉</span>
						<span>办公文具</span>
						<span>1文件管理</span> 
						<span>2办公文具</span>
						<span>3文件管理</span> 
						<span>4笔类</span>       
						<span>5纸类</span> 
						<span>6本册/便签</span>
						<span>7墨盒硒鼓/墨粉</span>
						<span>8办公文具</span>
						<span>9文件管理</span> 
						<span>8笔类</span>       
						<span>7办公文具</span>
					</div>
					<div class="title-btn">
						<span class="title-btn-span addMore">更多
							<img src="../../slice/icon-arrows-down.png" class="btn-img"/>
						</span>
						<span class="title-btn-span title-btn-nomargin">多选
							<img src="../../slice/icon-add.png" class="btn-img img-add"/>
						</span>
					</div>
			</div>
			<div class="inner mall-title title-more mall-border title-color-white no-border-bottom hide">
					<div class="title-cont-left mall-cent-higtline rela">
						<p class="mall-cent-title absou h100">品种：</p>
					</div>
					<div class="title-cont-right mall-cent-higtline title-right-cent">
						<span>办公文具</span>
						<span>文件管理</span> 
						<span>笔类</span>       
						<span>纸类</span> 
						<span>本册/便签</span>
						<span>墨盒硒鼓/墨粉1</span>
						<span>办公文具2</span>
						<span>文件管理3</span> 
						<span>笔类4</span>       
						<span>纸类5</span> 
						<span>本册/便签6</span>
						<span>墨盒硒鼓/墨粉2</span>
						<span>办公文具3</span>
						<span>文件管理4</span> 
						<span>笔类5</span>       
						<span>纸类6</span> 
						<span>本册/便签7</span>
						<span>墨盒硒鼓/墨粉8</span>
					</div>
					<div class="title-btn">
						<span class="title-btn-span addMore">更多
							<img src="../../slice/icon-arrows-down.png" class="btn-img"/>
						</span>
						<span class="title-btn-span title-btn-nomargin">多选
							<img src="../../slice/icon-add.png" class="btn-img img-add"/>
						</span>
					</div>
			</div>
		</div>
		<div class="foot-btn inner" id="dropDown">
			<span>展开</span>
			<img src="../../slice/icon-arrows-down.png"/>
		</div>
	</div>
	<br/><br/><br/><br/>
	<div class="inner mall">
		<p class="mb10">
			<img src="../../slice/icon-current-position.png" class="icon-size mr5"/>
			<span class="vhigh-2">当前位置： 首页 > 电子超市 ></span>
		</p>
		<div class="inner no-message">
			<img src="../../slice/icon-warning-search.png" class="no-img"/>
			<p class="pt20 pb10">抱歉！没有找到与“<span class="blod">墨鼓</span>”相关的商品。</p>
			<p>别担心，我们根据部分搜索词帮您找到了一些结果：     
				<span class="size-color marginright border-right">墨盒</span>
				<span class="size-color marginleft">硒鼓</span>
			</p>
		</div>
		<p class="pt20 pb20">所有类目</p>
		<div class="foot-div">
			<span class="marginright">你是不是在找:</span><span class="blod border-right marginright">墨盒</span><span class="blod border-right marginright">硒鼓</span><span class="blod marginright">打印机</span>
		</div>
	</div>
	<br/><br/><br/><br/><br/><br/><br/>
    <%- include('../_block/footer.ejs',{js:['../../js/app/mallSearch.js']}) %>