<%- include('../_block/head.ejs',{ title:'商城筛选搜索栏',css:[''] }) %>
	<div class="inner mall">
		<p class="mb10">
			<i class="icon-current"></i>
			<span class="vhigh-2">当前位置： 首页 > 电子超市 ></span>
		</p>
		<div class="inner mall-title">
			<div class="title-cont-left">
				<p class="title-words">商品<span class="color-red">筛选</span></p>
			</div>
			<div class="title-cont-right">
				<div class="title-label-show">
					<p class="title-block">分类1：<span class="color-red">墨盒4</span>
						<i class="icon-close"></i>
				</div>
			</div>
		</div>
		<div class="tab-cen">
			<div class="inner mall-title">
					<div class="title-left-text">
						<p class="mall-cent-title">分类：</p>
					</div>
					<div class="title-cent no-see">
						<span><input type="checkbox" class="title-check dn">办公文具</span>
						<span><input type="checkbox" class="title-check dn">文件管理</span>
						<span><input type="checkbox" class="title-check dn">笔类</span>
						<span><input type="checkbox" class="title-check dn">纸类</span>
						<span><input type="checkbox" class="title-check dn">本册/便签</span>
						<span><input type="checkbox" class="title-check dn">墨盒硒鼓/墨粉</span>
						<div class="title-btn">
							<span class="title-btn-span addMore">更多<i class="icon-addMore"></i></span>
							<span class="title-btn-span multiSelect">多选<i class="icon-multiSelect"></i></span>
						</div>
						<div class="cen-btn dn">
							<p class="mail-btn-ok dn">确定</p>
							<p class="mail-btn-no dn">取消</p>
						</div>
					</div>
			</div>
			<div class="inner mall-title">
				<div class="title-left-text">
					<p class="mall-cent-title">品牌：</p>
				</div>
				<div class="title-cent no-see">
					<span><input type="checkbox" class="title-check dn">得力（deli）</span>
					<span><input type="checkbox" class="title-check dn">齐心（COMIX）</span>
					<span><input type="checkbox" class="title-check dn">晨光（M&G）</span>
					<span><input type="checkbox" class="title-check dn">广博（GuangBo）</span>
					<span><input type="checkbox" class="title-check dn">优和（UHOO）</span>
					<span><input type="checkbox" class="title-check dn">三木（SUNWOOD）</span>
					<span><input type="checkbox" class="title-check dn">得力1（deli）</span>
					<span><input type="checkbox" class="title-check dn">齐心1（COMIX）</span>
					<span><input type="checkbox" class="title-check dn">晨光1（M&G）</span>
					<span><input type="checkbox" class="title-check dn">广博1（GuangBo）</span>
					<span><input type="checkbox" class="title-check dn">优和1（UHOO）</span>
					<span><input type="checkbox" class="title-check dn">三木1（SUNWOOD）</span>
					<div class="title-btn">
						<span class="title-btn-span addMore">更多<i class="icon-addMore"></i></span>
						<span class="title-btn-span multiSelect">多选<i class="icon-multiSelect"></i></span>
					</div>
					<div class="cen-btn">
						<p class="mail-btn-ok dn">确定</p>
						<p class="mail-btn-no dn">取消</p>
					</div>
				</div>
			</div>
			<div class="inner mall-title hide">
				<div class="title-left-text">
					<p class="mall-cent-title">属性：</p>
				</div>
				<div class="title-cent no-see">
					<span><input type="checkbox" class="title-check dn">原装耗材</span>
					<span><input type="checkbox" class="title-check dn">原装耗材</span>
					<div class="title-btn">
						<span class="title-btn-span addMore">更多<i class="icon-addMore"></i></span>
						<span class="title-btn-span multiSelect">多选<i class="icon-multiSelect"></i></span>
					</div>
					<div class="cen-btn">
						<p class="mail-btn-ok dn">确定</p>
						<p class="mail-btn-no dn">取消</p>
					</div>
				</div>
			</div>
			<div class="inner mall-title hide">
				<div class="title-left-text">
					<p class="mall-cent-title">规格：</p>
				</div>
				<div class="title-cent no-see">
					<span><input type="checkbox" class="title-check dn">普通装</span>
					<span><input type="checkbox" class="title-check dn">套装</span>
					<span><input type="checkbox" class="title-check dn">超值/大容量</span>
					<span><input type="checkbox" class="title-check dn">墨水</span>
					<span><input type="checkbox" class="title-check dn">其他</span>
					<span><input type="checkbox" class="title-check dn">普通装1</span>
					<span><input type="checkbox" class="title-check dn">套装1</span>
					<span><input type="checkbox" class="title-check dn">超值/大容量1</span>
					<span><input type="checkbox" class="title-check dn">墨水1</span>
					<span><input type="checkbox" class="title-check dn">其他1</span>
					<span><input type="checkbox" class="title-check dn">普通装2</span>
					<span><input type="checkbox" class="title-check dn">套装2</span>
					<span><input type="checkbox" class="title-check dn">超值/大容量2</span>
					<span><input type="checkbox" class="title-check dn">墨水2</span>
					<span><input type="checkbox" class="title-check dn">其他2</span>
					<span><input type="checkbox" class="title-check dn">普通装3</span>
					<span><input type="checkbox" class="title-check dn">套装3</span>
					<span><input type="checkbox" class="title-check dn">超值/大容量3</span>
					<span><input type="checkbox" class="title-check dn">墨水3</span>
					<span><input type="checkbox" class="title-check dn">其他3</span>
					<div class="title-btn">
						<span class="title-btn-span addMore">更多<i class="icon-addMore"></i></span>
						<span class="title-btn-span multiSelect">多选<i class="icon-multiSelect"></i></span>
					</div>
					<div class="cen-btn">
						<p class="mail-btn-ok dn">确定</p>
						<p class="mail-btn-no dn">取消</p>
					</div>
				</div>
			</div>
		</div>
		<div class="foot-btn" id="dropDown">
			<span>展开</span>
			<img src="../../slice/icon-arrows-down.png"/>
		</div>
	</div>
	<br/><br/><br/><br/>
	<div class="inner mall">
		<p class="mb10">
			<i class="icon-current"></i>
			<span class="vhigh-2">当前位置： 首页 > 电子超市 ></span>
		</p>
		<div class="inner no-message">
			<i class="icon-sear"></i>
			<p class="pt20 pb10">抱歉！没有找到与“<span class="blod">墨鼓</span>”相关的商品。</p>
			<p>别担心，我们根据部分搜索词帮您找到了一些结果：     
				<span class="size-color border-right">墨盒</span>
				<span class="size-color marginleft">硒鼓</span>
			</p>
		</div>
		<p class="pt20 pb20">所有类目</p>
		<div class="foot-div">
			<span class="mr10">你是不是在找:</span><span class="b br mr10">墨盒</span><span class="b br mr10">硒鼓</span><span class="b mr10">打印机</span>
		</div>
	</div>
	<br/><br/><br/><br/><br/><br/><br/>
    <%- include('../_block/footer.ejs',{js:['../../js/app/mallSearch.js']}) %>