<%- include('../_block/head.ejs',{ title:'分页插件' , css:['../../css/style-laypage.css'] }) %>
<div class="pl15 h24">分页插件</div>
<ul id="biuuu_city_list"></ul>

<div class="h24 pl15">主要用于后台管理中的页面</div>
<div id="page_default"></div>
<div class="h24 pl15">主要用于商城列表中的页面</div>
<div id="page_style01"></div>
<div class="h24 pl15">主要用于会员中心的列表</div>

<div id="page_style02"></div>



<%- include('../_block/footer.ejs',{js:['../../js/lib/laypage.js','../../js/app/pagination.js','../../js/example/paginationExample.js']}) %>