<%- include('../_block/head.ejs',{ title:'购买流程',css:['../../css/style-index.css'] }) %>
<br/><br/><br/><br/>
<div class="fix bg_bgGray pur-div inner">
		<p class="f16 mb10">购买流程</p>
		<ul class="pur-ul f14 list-style-no">
			<li class="pur-ul-li pur-color-type1">
				<p class="fl mr10"><span class="pur-span-type1">1</span></p>
				<p>我的购物车</p>
			</li>
			<li class="pur-ul-li pur-color-type3">
				<p class="fl mr10"><span class="pur-span-type1 pur-span-type2">2</span></p>
				<p>填写核对订单信息</p>
			</li>
			<li class="pur-ul-li pur-color-type3">
				<p class="fl mr10"><span class="pur-span-type1 pur-span-type2">3</span></p>
				<p>成功提交订单</p>
			</li>
		</ul>
	</div>
	<br/><br/><br/><br/><br/>
	<div class="fix bg_bgGray pur-div inner">
		<p class="f16 mb10">购买流程</p>
		<ul class="pur-ul f14 list-style-no">
			<li class="pur-ul-li pur-color-type2">
				<p class="fl mr10"><span class="pur-span-type1">1</span></p>
				<p>我的购物车</p>
			</li>
			<li class="pur-ul-li pur-color-type1">
				<p class="fl mr10"><span class="pur-span-type1">2</span></p>
				<p>填写核对订单信息</p>
			</li>
			<li class="pur-ul-li pur-color-type3">
				<p class="fl mr10"><span class="pur-span-type1 pur-span-type2">3</span></p>
				<p>成功提交订单</p>
			</li>
		</ul>
	</div>
	<br/><br/><br/><br/>
	<div class="fix bg_bgGray pur-div inner">
		<p class="f16 mb10">购买流程</p>
		<ul class="pur-ul f14 list-style-no">
			<li class="pur-ul-li pur-color-type2">
				<p class="fl mr10"><span class="pur-span-type1">1</span></p>
				<p>我的购物车</p>
			</li>
			<li class="pur-ul-li pur-color-type2">
				<p class="fl mr10"><span class="pur-span-type1">2</span></p>
				<p>填写核对订单信息</p>
			</li>
			<li class="pur-ul-li pur-color-type1">
				<p class="fl mr10"><span class="pur-span-type1">3</span></p>
				<p>成功提交订单</p>
			</li>
		</ul>
	</div>
<%- include('../_block/footer.ejs',{js:['../../js/app/test.js']}) %>