<%- include('../_block/head.ejs',{ title:'首页' , css:['../../css/style-index.css'] }) %>
<br/><br/><br/>
<div class="mau pct90 mb10">
    <ul class="nd fix h16 f12 list-style-no">
        <li class="fl ml10 mr10 poi c_lighGray">菜单一</li>
        <li class="fl c_lighGray">/</li>
        <li class="fl ml10 mr10 poi c_lighGray">一级类目 01</li>
        <li class="fl c_lighGray">/</li>
        <li class="fl ml10 mr10 poi">二级类目 01</li>
    </ul>
</div>
<div class="p30 f14 pct90 mau bg_gray">
    <div class="fix">
        <div class="fl pr70">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
        <div class="fl pr40">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
        <div class="fl">
           <button class="mr15">111</button><button>111</button>
        </div>
    </div>
</div>
<br/><br/><br/>
<div class="p30 f14 pct90 mau bg_gray">
    <div class="fix mb30">
        <div class="fl pr70">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
        <div class="fl pr70">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
        <div class="fl">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
    </div>
    <div class="fr mb30">
        <button class="mr15">111</button>
        <button>111</button>
    </div>
</div>
<br/><br/><br/><br/>
<div class="p30 f14 pct90 mau bg_gray">
    <div class="fix mb30">
        <div class="fl pr70">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
        <div class="fl pr70">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
        <div class="fl">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
    </div>
    <div class="fix mb30 dn">
        <div class="fl pr70">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
        <div class="fl pr70">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
        <div class="fl">
            <span class="pr15">查询项一 :</span>
            <input type="text" name="" placeholder="请输入查询项一"/>
        </div>
    </div>
    <div class="fr">
        <button class="mr15">111</button>
        <button>111</button>
        <span class="up_down f12 pr20 poi ml15 down" id="up_down">展开</span>
    </div>
</div>
<%- include('../_block/footer.ejs',{js:['../../../js/app/searchBar.js']}) %>