<%- include('../_block/head.ejs',{ title:'首页' , css:['../../css/style-index.css'] }) %>
<br/><br/><br/>
<div>
    <ul>
        <li>菜单一</li>
        <li>/</li>
        <li>一级类目 01</li>
        <li>/</li>
        <li>二级类目 01</li>
    </ul>
</div>
<div>
    <table>
        <tr>
            <td>
                查询项一：
            </td>
            <td>
                <input type="" name="" placeholder="请输入查询项一" />
            </td>
        </tr>
        <tr>
            <td>
                查询项二：
            </td>
            <td>
                <input type="" name="" placeholder="请输入查询项一" />
            </td>
        </tr>
        <tr>
            <td>
                查询项三：
            </td>
            <td>
                <input type="" name="" placeholder="请输入查询项一" />
            </td>
        </tr>
    </table>
</div>
<%- include('../_block/footer.ejs',{js:['../../../js/app/test.js']}) %>