<%- include('../_block/head.ejs',{ title:'首页' , css:[''] }) %>
<br/><br/><br/>
<div class="crumbs">
    <ul class="search-bar-title">
        <li class="curmbs-margin-poi">菜单一</li>
        <li>/</li>
        <li class="curmbs-margin-poi">一级类目 01</li>
        <li>/</li>
        <li class="curmbs-margin-poi c_gray_2">二级类目 01</li>
    </ul>
</div>
<div class="search-bar-line">
    <form class="form-inline" action="#">
        <div class="form-group">
            <label class="control-label">查询项一：</label>
            <input type="text" class="form-control" placeholder="请输入查询项一">
        </div>
        <div class="form-group">
            <label class="control-label">查询项二：</label>
            <input type="text" class="form-control" placeholder="请输入查询项二">
        </div>
        <div class="fr">
            <input type="button" class="btn btn-default btn-xs mr15" value="搜索"/>
            <button class="btn btn-ghost-revoke btn-xs">重置</button>
        </div>
    </form>
</div>
<br/><br/><br/>
<div class="search-bar-div">
    <form class="form-inline"  action="#">
        <div class="form-group">
            <label class="control-label">查询项一：</label>
            <input type="text" class="form-control" placeholder="请输入查询项一">
        </div>
        <div class="form-group">
            <label class="control-label">查询项二：</label>
            <input type="text" class="form-control" placeholder="请输入查询项二">
        </div>
        <div class="form-group">
            <label class="control-label">查询项三：</label>
            <input type="text" class="form-control" placeholder="请输入查询项三">
        </div>
        <div class="fr sear-form-btn">
            <input type="button" class="btn btn-default btn-xs mr15" value="搜索"/>
            <button class="btn btn-ghost-revoke btn-xs">重置</button>
        </div>
    </form>
</div>
<br/><br/><br/><br/>
<div class="search-bar-div">
    <form class="form-inline" action="#">
        <div class="form-group">
            <label class="control-label">查询项一：</label>
            <input type="text" class="form-control" placeholder="请输入查询项一">
        </div>
        <div class="form-group">
            <label class="control-label">查询项二：</label>
            <input type="text" class="form-control" placeholder="请输入查询项二">
        </div>
        <div class="form-group">
            <label class="control-label">查询项三：</label>
            <input type="text" class="form-control" placeholder="请输入查询项三">
        </div>
        <div class="form-group dn">
            <label class="control-label">查询项一：</label>
            <input type="text" class="form-control" placeholder="请输入查询项一">
        </div>
        <div class="form-group dn">
            <label class="control-label">查询项二：</label>
            <input type="text" class="form-control" placeholder="请输入查询项二">
        </div>
        <div class="form-group dn">
            <label class="control-label">查询项三：</label>
            <input type="text" class="form-control" placeholder="请输入查询项三">
        </div>
        <div class="fr sear-form-btn">
            <input type="button" class="btn btn-default btn-xs mr15" value="搜索"/>
            <button class="btn btn-ghost-revoke btn-xs">重置</button>
            <span class="up_down down" id="up_down">展开</span>
        </div>
    </form>
</div>
<%- include('../_block/footer.ejs',{js:['../../../js/app/searchBar.js']}) %>