<%- include('../_block/head.ejs',{ title:'首页',css:[''] }) %>
<!-快捷入口->
<div class="shortcut-orange">
    <div class="inner fix">
        <ul class="shortcut-left fix">
            <li class="user"><a href="#">admin<i class="shortcut-user"></i></a></li>
            <li class="msg"><a href="#"><i class="shortcut-msg-orange"></i>消息</a></li>
        </ul>
        <ul class="shortcut-right fix">
            <li><a href="#">首页</a></li>
            <li><a href="#">我的会员中心</a></li>
            <li><a href="#">帮助中心</a></li>
            <li class="phone">
                <a href="#"><i class="shortcut-phone-orange"></i>手机</a>
                <div class="box">
                    <div class="code-area">
                        <img src="../../../img/code.png">
                    </div>
                    <div class="content">
                        <div>扫一扫，下载客户端</div>
                        <div class="word-green">手机采购 移动办公</div>
                        <div class="iphone-android"></div>
                    </div>
                </div>
            </li>
            <li class="collect"><a href="#"><i class="shortcut-collect-orange"></i>收藏网站</a></li>
            <li class="tel"><a href="#">客服电话<span>400-018-4000</span></a></li>
        </ul>
    </div>
</div>
<!--商城头部-->
<div class="header-shopping inner fix">
    <a href="#" class="logo-area fix">
        <div class="logo-shopping"></div>
    </a>
    <div class="search-area fix">
        <div class="input-area fix">
            <input type="text" class="search-select form-yn" readonly placeholder="全部"><i class="shopping-select-down"></i>
            <ul class="form-ul"></ul>
           <!-- <select class="search-select pl20 fl">
                <option>全站搜索</option>
                <option>电力专区</option>
                <option>电子超市</option>
            </select>-->
            <input type="text" class="search-input" placeholder="请输入关键词进行搜索">
        </div>
        <div class="search-button"><i class="shopping-search"></i>搜索</div>
        <a href="#" class="my-shopping"><i class="shopping-car"></i>我的购物车<span>99+</span></a>
    </div>
</div>

<!--商城导航栏-->
<div class="nav-shopping inner">
    <div class="goodsDiv"><i class="shopping-goods"></i>企业采购商品分类<i class="arrow-toggle arrow-down"></i></div>
    <ul class="fix">
        <li><a href="#">首页</a></li>
        <li><a href="#">电力专区</a></li>
        <li><a href="#">电子超市</a></li>
    </ul>
    <ul class="other fix">
        <li><a href="#"><i class="zhaobiao"></i>招标</a></li>
        <li><a href="#"><i class="xunjia"></i>询价</a></li>
    </ul>
</div>
<%- include('../_block/footer.ejs',{js:['../../js/example/shoppingIndex.js']}) %>