<%- include('../_block/head.ejs',{ title:'首页',css:[''] }) %>
<!-快捷入口->
<div class="shortcut-blue">
    <div class="inner fix">
        <ul class="shortcut-left fix">
            <li class="user"><a href="#">admin<i class="shortcut-user"></i></a></li>
            <li class="msg"><a href="#"><i class="shortcut-msg-blue"></i>消息</a></li>
        </ul>
        <ul class="shortcut-right fix">
            <li><a href="#">首页</a></li>
            <li><a href="#">我的会员中心</a></li>
            <li><a href="#">帮助中心</a></li>
            <li class="phone">
                <a href="#"><i class="shortcut-phone-blue"></i>手机</a>
                <div class="box">
                    <div class="code-area">
                        <img src="../../../img/code.png">
                    </div>
                    <div class="content">
                        <div>扫一扫，下载客户端</div>
                        <div class="word-green">手机采购 移动办公</div>
                        <div class="iphone-android"></div>
                    </div>
                </div>
            </li>
            <li class="collect"><a href="#"><i class="shortcut-collect-blue"></i>收藏网站</a></li>
            <li class="tel"><a href="#">客服电话<span>400-018-4000</span></a></li>
        </ul>
    </div>
</div>
<div class="body-content">
    <!--采购商导航栏-->
    <div class="nav-supplier">
        <div class="inner fix">
            <a href="#" class="logo-shopping"></a>
            <ul class="fl fix">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">一级导航01</a></li>
                <li><a href="#">一级导航02</a></li>
                <li><a href="#">一级导航03</a></li>
            </ul>
        </div>
    </div>
    <!--主要内容-->
    <div class="main-content inner fix">
        <div class="left-side">
            <div class="menu-title center"><i class="left-menu-center"></i>一级导航</div>
            <ul class="menu-section blue">
                <li class="menu-section-title"><i class="left-menu-down"></i>一级类目01</li>
                <li>二级类目01</li>
                <li>二级类目02</li>
                <li>二级类目03</li>
            </ul>
            <ul class="menu-section blue">
                <li class="menu-section-title"><i class="left-menu-down"></i>一级类目02</li>
                <li>二级类目01</li>
                <li>二级类目02</li>
                <li>二级类目03</li>
            </ul>
            <ul class="menu-section blue">
                <li class="menu-section-title"><i class="left-menu-down"></i>一级类目03</li>
                <li>二级类目01</li>
                <li>二级类目02</li>
                <li>二级类目03</li>
            </ul>

        </div>
        <div class="right-side">
            <ul class="crumbs-area fix">
                <li>首页</li>
                <li> > </li>
                <li>一级导航</li>
                <li> > </li>
                <li>一级类目01</li>
            </ul>
        </div>
    </div>
</div>
<%- include('../_block/footer.ejs',{js:['']}) %>