<%- include('../_block/head.ejs',{ title:'按钮' , css:['../../css/style-index.css'] }) %>
<div id="page">
    <form id="form1">
        <div class="form-group">
            <label class="form-lable">姓名：</label>
            <input type="text" name="uName" class="form-control" placeholder="请输入关键字">
        </div>
        <div class="form-group">
            <label class="form-lable">密码：</label>
            <input type="text" name="pwd" class="form-control" placeholder="请输入关键字和编码">
        </div>
        <div class="form-group">
            <label class="form-lable">       手机号：</label>
            <input type="text" name="mobile" class="form-control" placeholder="请输入关键字和编码">
        </div>
        <div class="form-group">
            <lable class="form-lable box-inline"><input class="checkbox-inline" type="checkbox" />&nbsp;&nbsp;&nbsp;记住信息</lable>
        </div>
        <div class="form-group">
            <button class="btn btn-ghost-default btn-xs">提交</button>
        </div>
    </form>
</div>
<%- include('../_block/footer.ejs',{js:['../../../js/app/valid.js']}) %>