<!--
    	作者：雷清云
    	时间：2017-07-31
    	描述：警告的网站css样式
   -->
<%- include('../_block/head.ejs',{ title:'首页' , css:['../../css/style-index.css'] }) %>

<!--警告框样式-->
<!--成功-->
<div class="message message-success">
	
	<p class="message-p message-success-p"><span class="bg-img"></span><span >成功提示的案例</span></p>
</div>
<!--失败-->
<div class="message message-fail">
	<p class="message-p message-fail-p"><span class="bg-img"></span><span>失败提示的案例</span></p>
</div>
<!--警告-->
<div class="message message-warn">
	<p class="message-p message-warn-p"><span class="bg-img"></span><span>警告提示的案例</span></p>
</div>
<!--注释-->
<div class="message message-comment">
	<p class="message-p message-comment-p"><span class="bg-img"></span><span>注释提示的案例</span></p>
</div>
<!--带有点击叉号的警告框-->
<div class="message message-success message-fork">
	<p class="message-p message-success-p"><span class="bg-img"></span><span >成功提示的案例</span><span class="message-fork-span"><img class="message-fork-img" src="../../slice/icon-message-fork.png"/></span> </p>
</div>
<div class="message message-fail message-fork">
	<p class="message-p message-fail-p"><span class="bg-img"></span><span >失败提示的案例</span><span class="message-fork-span"><img class="message-fork-img" src="../../slice/icon-message-fork.png"/></span></p>
</div>
<div class="message message-warn message-fork">
	<p class="message-p message-warn-p"><span class="bg-img"></span><span >警告提示的案例</span><span class="message-fork-span"><img class="message-fork-img" src="../../slice/icon-message-fork.png"/></span></p>
</div>
<div class="message message-comment message-fork">
	<p class="message-p message-comment-p"><span class="bg-img"></span><span >注释提示的案例</span><span class="message-fork-span"><img class="message-fork-img" src="../../slice/icon-message-fork.png"/></span></p>
</div>
<!--带有“不再提示”警告框样式-->
<div class="message message-success message-fork">
	<p class="message-p message-success-p"><span class="bg-img"></span><span >成功提示的案例</span><span class="message-fork-span"><a class="message-fork-a" href="javascript:void(0)">不再提醒</a></span> </p>
</div>
<div class="message message-fail message-fork">
	<p class="message-p message-fail-p"><span class="bg-img"></span><span >失败提示的案例</span><span class="message-fork-span"><a class="message-fork-a" href="javascript:void(0)">不再提醒</a></span></p>
</div>
<div class="message message-warn message-fork">
	<p class="message-p message-warn-p"><span class="bg-img"></span><span >警告提示的案例</span><span class="message-fork-span"><a class="message-fork-a" href="javascript:void(0)">不再提醒</a></span></p>
</div>
<div class="message message-comment message-fork">
	<p class="message-p message-comment-p"><span class="bg-img"></span><span >注释提示的案例</span><span class="message-fork-span"><a class="message-fork-a" href="javascript:void(0)">不再提醒</a></span></p>
</div>

<!--带有点击和信息提示的警告框样式-->

<div class="messageed messageed-success">
	<p class="messageed-p1"><span class="bg-img"></span><span class="messageed-span">已成功</span></p>
	<p class="messageed-p2">的佛诞节佛ID见覅偶大囧东方今典司法鉴定司法鉴定死哦东方闪电就风刀霜剑佛时代峰峻水电费</p>
	<p class="messageed-p3"><a class="messageed-a" href="javascript:void(0)">继续提交</a></p>
</div>
<div class="messageed messageed-fail">
	<p class="messageed-p1"><span class="bg-img"></span><span class="messageed-span">出错了</span></p>
	<p class="messageed-p2">司法鉴定死哦东方闪电就风刀霜剑佛时代峰峻水电费</p>
	<p class="messageed-p3"><a class="messageed-a" href="javascript:void(0)">返回修改</a></p>
</div>
<div class="messageed messageed-warn">
	<p class="messageed-p1"><span class="bg-img"></span><span class="messageed-span">出错了</span></p>
	<p class="messageed-p2">失败合约：<span>2313123</span>|失败原：<span>实打实的方式的发的</span></p>
	<p class="messageed-p3"><a class="messageed-a" href="javascript:void(0)">返回修改</a>&nbsp&nbsp|&nbsp&nbsp<a class="messageed-a" href="javascript:void(0)">继续提交</a></p>
</div>
<div class="messageed messageed-comment">
	<p class="messageed-p1"><span class="bg-img"></span><span class="messageed-span">出错了</span></p>
	<p class="messageed-p2">的佛诞节佛ID见覅偶大囧东方今典司法鉴定司法鉴定死哦东方闪电就风刀霜剑佛时代峰峻水电费</p>
	<p class="messageed-p3"><a class="messageed-a" href="javascript:void(0)">前往注册</a></p>
</div>
<%- include('../_block/footer.ejs',{js:['../../../js/app/test.js']}) %>	
	
